.reallyTopWrapper{
  display:flex;
  flex-direction:row;
}

.topWrapper{
  display:flex;
  flex-direction:column;
}

.bottomWrapper{
  display:flex;
  flex-direction:row;
}

.irrCard{
  margin:15px;
}

.graphImage{
  margin:30px;
  margin-left:50px;
  margin-right:50px;
}